In [1]:
#Final Project - Dated 22 Nov 2019

In [2]:
#required libraries
import pandas as pd
import numpy as np

In [3]:
#import datasets
two1 = pd.read_csv('Chicago_Crimes_2001_to_2004.csv')
two5 = pd.read_csv('Chicago_Crimes_2005_to_2007.csv')
two8 = pd.read_csv('Chicago_Crimes_2008_to_2011.csv')
two12 = pd.read_csv('Chicago_Crimes_2012_to_2017.csv')

/Users/vidhyasagarudayakumar/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3057: DtypeWarning: Columns (17,20) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
/Users/vidhyasagarudayakumar/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3057: DtypeWarning: Columns (1,9,10,16,21) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [4]:
#Creating seasons variable

#splitting - 1
datetimestamp = two1['Date'].str.split(n=1, expand=True)
datetimestamp.columns = ['date_id{}'.format(x+1) for x in datetimestamp.columns]
two1 = two1.join(datetimestamp)

#splitting - 2
datetimestamp = two5['Date'].str.split(n=1, expand=True)
datetimestamp.columns = ['date_id{}'.format(x+1) for x in datetimestamp.columns]
two5 = two5.join(datetimestamp)

#splitting - 3
datetimestamp = two8['Date'].str.split(n=1, expand=True)
datetimestamp.columns = ['date_id{}'.format(x+1) for x in datetimestamp.columns]
two8 = two8.join(datetimestamp)

#splitting - 4
datetimestamp = two12['Date'].str.split(n=1, expand=True)
datetimestamp.columns = ['date_id{}'.format(x+1) for x in datetimestamp.columns]
two12 = two12.join(datetimestamp)

#seasons

In [5]:
two1[['day','month','year']] = two1.date_id1.str.split('/', expand=True)
two5[['day','month','year']] = two5.date_id1.str.split('/', expand=True)
two8[['day','month','year']] = two8.date_id1.str.split('/', expand=True)
two12[['day','month','year']] = two12.date_id1.str.split('/', expand=True)

In [6]:
def replace_check(row):
    if row == '06' or row == '07' or row == '08':
        val = 'Summer'
    elif row == '03' or row == '04' or row == '05':
        val = 'Spring'
    elif row == '12' or row == '01' or row == '02':
        val = 'Winter'
    else:
        val = 'Fall'
    return val

In [7]:
#Seasons Initialize

two1['Seasons'] = two1.month.apply(replace_check)
two5['Seasons'] = two5.month.apply(replace_check)
two8['Seasons'] = two8.month.apply(replace_check)
two12['Seasons'] = two12.month.apply(replace_check)


#Seasons Done

In [8]:
#Time Splitting - 1 
two1[['hour','minute','second']] = two1.date_id2.str.split(':', expand=True)

#Time Splitting - 2 
two5[['hour','minute','second']] = two5.date_id2.str.split(':', expand=True)

#Time Splitting - 3
two8[['hour','minute','second']] = two8.date_id2.str.split(':', expand=True)

#Time Splitting - 4
two12[['hour','minute','second']] = two12.date_id2.str.split(':', expand=True)

In [9]:
#TimeSplit2 - 1
two1[['second', 'dayperiod']] = two1.second.str.split(' ', expand=True)

#TimeSplit2 - 2
two5[['second', 'dayperiod']] = two5.second.str.split(' ', expand=True)

#TimeSplit2 - 3
two8[['second', 'dayperiod']] = two8.second.str.split(' ', expand=True)

#TimeSplit2 - 4
two12[['second', 'dayperiod']] = two12.second.str.split(' ', expand=True)

In [10]:
def period_replace_check(dayperiod,hour,minute):
    try:
        if dayperiod == "AM":
            if int(hour) in [6,7,8,9,10,11] and int(minute) in range(0,60):
                val = 'Morning'
            elif int(hour) in [12,1,2,3,4,5] and int(minute) in range(0,60):
                val = 'Night'
        else:
            if int(hour) in [5,6,7] and int(minute) in range(0,60):
                val = 'Evening'
            elif int(hour) in [12,1,2,3,4] and int(minute) in range(0,60):
                val = 'Noon' 
            elif int(hour) in [7,8,9,10,11] and int(minute) in range(0,60):
                val = 'Night'
    except:
        val = ''
    return val

In [11]:
#TimePeriod - Initialize

In [12]:
two1['TimePeriod'] = two1.apply(lambda x: period_replace_check(x.dayperiod, x.hour, x.minute), axis=1)

In [13]:
two5['TimePeriod'] = two5.apply(lambda x: period_replace_check(x.dayperiod, x.hour, x.minute), axis=1)

In [14]:
two8['TimePeriod'] = two8.apply(lambda x: period_replace_check(x.dayperiod, x.hour, x.minute), axis=1)

In [15]:
two12['TimePeriod'] = two12.apply(lambda x: period_replace_check(x.dayperiod, x.hour, x.minute), axis=1)

In [16]:
#TimePeriod - End

In [17]:
#merge datasets
finaldatasets = pd.concat([two1, two5, two8, two12])

In [18]:
finaldatasets.head()

,Unnamed: 0,ID,Case Number,Date,Block,IUCR,Primary Type,Description,Location Description,Arrest,...,date_id2,day,month,year,Seasons,hour,minute,second,dayperiod,TimePeriod
0,879.0,4786321,HM399414,01/01/2004 12:01:00 AM,082XX S COLES AVE,0840,THEFT,FINANCIAL ID THEFT: OVER $300,RESIDENCE,False,...,12:01:00 AM,01,01,2004,Winter,12,01,00,AM,Night
1,2544.0,4676906,HM278933,03/01/2003 12:00:00 AM,004XX W 42ND PL,2825,OTHER OFFENSE,HARASSMENT BY TELEPHONE,RESIDENCE,False,...,12:00:00 AM,03,01,2003,Winter,12,00,00,AM,Night
2,2919.0,4789749,HM402220,06/20/2004 11:00:00 AM,025XX N KIMBALL AVE,1752,OFFENSE INVOLVING CHILDREN,AGG CRIM SEX ABUSE FAM MEMBER,RESIDENCE,False,...,11:00:00 AM,06,20,2004,Fall,11,00,00,AM,Morning
3,2927.0,4789765,HM402058,12/30/2004 08:00:00 PM,045XX W MONTANA ST,0840,THEFT,FINANCIAL ID THEFT: OVER $300,OTHER,False,...,08:00:00 PM,12,30,2004,Fall,08,00,00,PM,Night
4,3302.0,4677901,HM275615,05/01/2003 01:00:00 AM,111XX S NORMAL AVE,0841,THEFT,FINANCIAL ID THEFT:$300 &UNDER,RESIDENCE,False,...,01:00:00 AM,05,01,2003,Winter,01,00,00,AM,Night

In [19]:
finaldatasets.iloc[0]

Unnamed: 0                                        879
ID                                            4786321
Case Number                                  HM399414
Date                           01/01/2004 12:01:00 AM
Block                               082XX S COLES AVE
IUCR                                             0840
Primary Type                                    THEFT
Description             FINANCIAL ID THEFT: OVER $300
Location Description                        RESIDENCE
Arrest                                          False
Domestic                                        False
Beat                                              424
District                                            4
Ward                                                7
Community Area                                     46
FBI Code                                           06
X Coordinate                                      NaN
Y Coordinate                                      NaN
Year                                             2004
Updated On                     08/17/2015 03:03:40 PM
Latitude                                          NaN
Longitude                                         NaN
Location                                          NaN
date_id1                                   01/01/2004
date_id2                                  12:01:00 AM
day                                                01
month                                              01
year                                             2004
Seasons                                        Winter
hour                                               12
minute                                             01
second                                             00
dayperiod                                          AM
TimePeriod                                      Night
Name: 0, dtype: object

In [1]:
finaldatasets['Community Area'].unique()

NameError: name 'finaldatasets' is not defined